#controls-mobile-menu {
  position: fixed;
  bottom: $footer-height;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: $background-color;
  overflow-y: scroll;
  height: 0;
  // since the controls menus can have different height -
  // we make the animation listen to max-height property
  // and keeping the height auto (depend on amout of elements in the menu)
  transition: max-height 0.3s; // slide out the menu
  max-height: 0px;

  &.open {
    max-height: 330px;
    height: auto;
  }

  #controls-mobile-filters {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    select {
      width: 93%;
      margin: unset;
      margin-top: 10px;
      align-self: center;
      background-size: 4%;
      font-size: 12pt;
      padding: 5px;
      border-radius: 0px;
    }
  }
}
